/*PALETA DE COLORES*/
:root{
    --color-principal:#591414;
    --color-secundario:#8C1111;
    --color-terciario:#A6242F;
    --color-negro:#0D0908;
    --color-alternativo-I:#7D6841;
    --color-alternativo-II:#3045BF;
    --color-apuesto:#145959;
    --color-fondo:#E7E1E1;
    --color-letra-pricipal: #fff;
    --color-fondo-modal: rgba(144,148,150,0.8);
}

/*FORMATEO GENERAL*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    scroll-behavior: smooth;
}

main{
    flex-grow: 1;
    background-color: var(--color-fondo);
}

/*RESPONSIVE BIENVENIDA*/
.cambio-de-color{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--color-apuesto);
}

.bienvenida-usuario{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 30px;
}

.bienvenida-usuario h1{
    font-size: 2.5rem;
    text-align: center;
    font-weight: bold;
    color: var(--color-letra-pricipal);
}

.agregar-servidor{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-letra-pricipal);
    padding: 20px;
    margin: 10px 30px;
    border-radius: 10px;
}

.agregar-servidor img{
    width: 80px;
    height: 80px;
}

.agregar-servidor p{
    margin: 0px 30px;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Heebo', sans-serif;
    text-align: center;
}

.agregar-servidor .btn-agregar-servidor{
    text-decoration: none;
    font-size: 1.2rem;
    background-color: var(--color-apuesto);
    color: var(--color-letra-pricipal);
    padding: 10px 20px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
}

.agregar-servidor .btn-agregar-servidor:hover{
    background-color: var(--color-principal);
    transition: 0.2s linear;
}

.unirme-a-servidores{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-letra-pricipal);
    padding: 20px;
    margin: 10px 30px;
    border-radius: 10px;
}

.unirme-a-servidores img{
    width: 80px;
    height: 80px;
}

.unirme-a-servidores p{
    margin: 0px 30px;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Heebo', sans-serif;
    text-align: center;
}

.unirme-a-servidores .btn-agregar-servidor{
    text-decoration: none;
    font-size: 1.2rem;
    background-color: var(--color-apuesto);
    color: var(--color-letra-pricipal);
    padding: 10px 20px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
}

.unirme-a-servidores .btn-agregar-servidor:hover{
    background-color: var(--color-principal);
    transition: 0.2s linear;
}

.titulo-tus-servidores{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 30px;
}

.titulo-tus-servidores h2{
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
    color: var(--color-letra-pricipal);
}

.ningun-servidor{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;
    background-color: var(--color-letra-pricipal);
    border-radius: 10px;
    margin: 0px 10px;
}

.ningun-servidor img{
    width: 80px;
    height: 80px;
}

.ningun-servidor h3{
    margin-left: 25px;
    font-size: 1.4rem;
    text-align: center;
    font-weight: bold;
    font-family: 'Heebo', sans-serif;
}

.tus-servidores{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px 30px;
}

.tus-servidores .card-servidor{
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-letra-pricipal);
    margin: 20px 0px;
    padding: 30px 20px;
    border-radius: 10px;
}

.tus-servidores .card-servidor img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

/*SELF*/
.tus-servidores .card-servidor .descripcion-servidor{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    align-self: normal;
    flex-grow: 1;
    flex-basis: 0;
    padding: 0px 20px;
}

.tus-servidores .card-servidor .descripcion-servidor h2{
    font-size: 1.6rem;
    font-weight: bold;
    margin-bottom: 5px;
}

.tus-servidores .card-servidor .descripcion-servidor p{
    font-size: 1rem;
    font-weight: 400;
    font-family: 'Heebo', sans-serif;
    padding: 5px 0px;
    text-align: center;
}

.tus-servidores .card-servidor .descripcion-servidor p a{
    position: relative;
    text-decoration: none;
    color: var(--color-alternativo-II);
    font-weight: bold;
    text-align: center;
}

.tus-servidores .card-servidor .descripcion-servidor p a:hover{
    color: var(--color-principal);
    transition: 0.2s linear;
}

.tus-servidores .card-servidor .descripcion-servidor .btn-eliminar{
    cursor: pointer;
    font-size: 0.8rem;
    font-weight: 500;
    font-family: 'Heebo', sans-serif;
    padding: 5px 10px;
    text-align: center;
    color: var(--color-letra-pricipal);
    background-color: var(--color-terciario);
    border-radius: 10px;
    margin-top: 5px;
}

.tus-servidores .card-servidor .descripcion-servidor .btn-eliminar:hover{
    background-color: var(--color-principal);
    transition: 0.2s linear;
}

.tus-servidores .card-servidor .descripcion-servidor p a:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: var(--color-principal);
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.6s ease-in-out;
}

.tus-servidores .card-servidor .descripcion-servidor p a:hover:after{
    transform: scaleX(1);
    transform-origin: bottom left;
}

.tus-servidores .card-servidor .botones-servidor{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tus-servidores .card-servidor .botones-servidor a{
    text-decoration: none;
    color: var(--color-letra-pricipal);
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 10px;
}

.tus-servidores .card-servidor .botones-servidor a:hover{
    background-color: var(--color-principal);
    transition: 0.2s linear;
}

.tus-servidores .card-servidor .botones-servidor .btn-ingresar{
    background-color: var(--color-alternativo-II);
    margin: 0px 5px 0px 0px;
}

.tus-servidores .card-servidor .botones-servidor .btn-editar{
    cursor: pointer;
    color: var(--color-letra-pricipal);
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 10px;
    background-color: var(--color-alternativo-I);
    margin: 0px 5px;
}

.tus-servidores .card-servidor .botones-servidor .btn-editar:hover{
    background-color: var(--color-principal);
    transition: 0.2s linear;
}

.tus-servidores .card-servidor .botones-servidor .btn-salir{
    cursor: pointer;
    color: var(--color-letra-pricipal);
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 10px;
    background-color: var(--color-apuesto);
    margin: 0px 0px 0px 5px;
}

.tus-servidores .card-servidor .botones-servidor .btn-salir:hover{
    background-color: var(--color-principal);
    transition: 0.2s linear;
}

.me-encanta-lokita {
    position: absolute;
    top: 20px;
    right: 20px;
}

.me-encanta-lokita .label-me-encanta i {
    font-size: 30px;
    color: var(--color-fondo);
    cursor: pointer;
}

.me-encanta-lokita .label-me-encanta i.lokita {
    color: var(--color-secundario);
    transition: 0.2s linear;
}

/*CARDS DE SISTEMAS*/

.cards-sistemas{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: auto;
    padding: 30px;
    background-color: var(--color-letra-pricipal);
}

.cards-sistemas .card-s{
    width: 250px;
    display: flex;
    margin: 20px 10px;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    background-color: var(--color-fondo);
    align-self: normal;
    padding: 20px;
    border-radius: 15px 15px 15px 15px;
    -webkit-border-radius: 15px 15px 15px 15px;
    -moz-border-radius: 15px 15px 15px 15px;
    box-shadow: 1px -1px 16px 1px rgba(0,0,0,0.76);
    -webkit-box-shadow: 1px -1px 16px 1px rgba(0,0,0,0.76);
    -moz-box-shadow: 1px -1px 16px 1px rgba(0,0,0,0.76);
}

.cards-sistemas .card-s img{
    width: 100%;
    border-radius: 15px 15px 15px 15px;
    -webkit-border-radius: 15px 15px 15px 15px;
    -moz-border-radius: 15px 15px 15px 15px;
}

.cards-sistemas .card-s h4{
    font-size: 1.8rem;
    margin: 10px 0px;
}

.cards-sistemas .card-s p{
    font-size: 1rem;
    margin: 10px 0px 20px 0px;
    font-family: 'Heebo', sans-serif;
}

.cards-sistemas .card-s .btn-card{
    margin-top: auto;
    font-size: 1.1rem;
    font-weight: bold;
    text-decoration: none;
    padding: 10px 25px;
    background-color: var(--color-apuesto);
    color: var(--color-letra-pricipal);
    border-radius: 10px;
    font-family: 'Heebo', sans-serif;
    cursor: pointer;
}

.cards-sistemas .card-s .btn-card:hover{
    background-color: var(--color-principal);
    transition: 0.2s linear;
}

/*MODALES*/

/*MODAL AGREGAR SERVIDOR*/
#btn-modal-crear{
    display: none;
}

.contenedor-modal-crear{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--color-fondo-modal);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

#btn-modal-crear:checked ~ .contenedor-modal-crear{
    display: flex;
    transition: 0.2s linear;
}

.contenedor-modal-crear .contenido-modal{
    width: 100%;
    max-width: 400px;
    background-color: var(--color-fondo);
    border-radius: 10px;
    margin: 10px;
}

.contenedor-modal-crear .cerrar-modal{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.contenido-modal .header-modal{
    width: 100%;
    padding: 10px 15px;
    background-color: var(--color-principal);
    color: var(--color-letra-pricipal);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px 10px 0px 0px;
}

.contenido-modal .header-modal h2{
    font-size: 1.6rem;
    font-weight: bold;
    text-transform: uppercase;
}

.contenido-modal .header-modal label i{
    font-size: 35px;
    cursor: pointer;
}

.contenido-modal .cuerpo-de-modal{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 0px 15px;
}

.cuerpo-de-modal .input-servidor{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    margin: 10px 0px;
    width: 100%;
}

.cuerpo-de-modal .input-servidor label{
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 5px;
    font-family: 'Heebo', sans-serif;
}

.cuerpo-de-modal .input-servidor .input-principales{
    font-weight: 700;
    width: 100%;
}

.cuerpo-de-modal .input-servidor .input-style{
    outline: none;
    border-radius: 5px;
    border: 1px solid var(--color-principal);
    padding: 7px 10px;
}

.cuerpo-de-modal .input-servidor textarea{
    font-weight: 700;
    width: 100%;
}

.cuerpo-de-modal .input-servidor .input-radio{
    width: 100%;
    display: flex;
    padding: 3px 0px;
}

.cuerpo-de-modal .input-servidor .input-radio label{
    margin-left: 10px;
}

.contenido-modal .btns{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0px 15px 15px 15px;
}

.contenido-modal .btns .agregar{
    width: 45%;
    border-radius: 15px;
    border: none;
    padding: 5px 15px;
    background-color: var(--color-alternativo-II);
    color: var(--color-letra-pricipal);
    font-size: 1rem;
    font-weight: 600;
    font-family: 'Heebo', sans-serif;
}

.contenido-modal .btns .agregar:hover{
    background-color: var(--color-principal);
    transition: 0.2s linear;
}

.contenido-modal .btns .resetear{
    width: 45%;
    border-radius: 15px;
    border: none;
    padding: 5px 15px;
    background-color: var(--color-apuesto);
    color: var(--color-letra-pricipal);
    font-size: 1rem;
    font-weight: 600;
    font-family: 'Heebo', sans-serif;
}

.contenido-modal .btns .resetear:hover{
    background-color: var(--color-principal);
    transition: 0.2s linear;
}

@media screen and (max-height: 555px) {
    /*MODAL AGREGAR SERVIDOR*/
    .contenedor-modal-crear .contenido-modal{
        max-height: 300px;
        overflow-y: scroll;
    }
}

@media screen and (max-width: 400px) {
    /*MODAL AGREGAR SERVIDOR*/
    .contenedor-modal-crear .contenido-modal .header-modal h2{
        font-size: 1.3rem;
        font-weight: bold;
    }

    .contenedor-modal-crear .cuerpo-de-modal .input-servidor label{
        font-size: 0.8rem;
        font-weight: 600;
        margin-bottom: 5px;
        font-family: 'Heebo', sans-serif;
    }
}

/*MODAL ELIMINAR*/
.contenedor-modal-eliminar{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--color-fondo-modal);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.contenedor-modal-eliminar.mostrar{
    display: flex;
    -webkit-transition: all 1s ease-in;
    -moz-transition: all 1s ease-in;
    transition: all 1s ease-in;
}

.contenedor-modal-eliminar .contenido-modal{
    width: 100%;
    max-width: 400px;
    background-color: var(--color-fondo);
    border-radius: 10px;
    margin: 10px;
}

.contenedor-modal-eliminar .cerrar-modal{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.contenedor-modal-eliminar .contenido-modal .cuerpo-de-modal{
    padding-top: 20px;
    padding-bottom: 20px;
}

.contenedor-modal-eliminar .contenido-modal .cuerpo-de-modal h3{
    text-align: center;
    font-family: 'Heebo', sans-serif;
    font-size: 1.2rem;
}

@media screen and (max-height: 555px) {
    /*MODAL ELIMINAR SERVIDOR*/
    .contenedor-modal-eliminar .contenido-modal{
        max-height: 300px;
        overflow-y: scroll;
    }
}

@media screen and (max-width: 400px) {
    /*MODAL ELIMINAR SERVIDOR*/
    .contenedor-modal-eliminar .contenido-modal .header-modal h2{
        font-size: 1.3rem;
        font-weight: bold;
    }
}

/*MODAL EDITAR SERVIDOR*/
.contenedor-modal-editar{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--color-fondo-modal);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.contenedor-modal-editar.mostrar{
    display: flex;
    -webkit-transition: all 1s ease-in;
    -moz-transition: all 1s ease-in;
    transition: all 1s ease-in;
}

.contenedor-modal-editar .contenido-modal{
    width: 100%;
    max-width: 400px;
    background-color: var(--color-fondo);
    border-radius: 10px;
    margin: 10px;
}

.contenedor-modal-editar .cerrar-modal{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.contenedor-modal-editar .contenido-modal .btns{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 15px 15px 15px;
}

.contenedor-modal-editar .contenido-modal .btns .guardar-cambios{
    width: 80%;
    border-radius: 15px;
    border: none;
    padding: 5px 15px;
    background-color: var(--color-apuesto);
    color: var(--color-letra-pricipal);
    font-size: 1rem;
    font-weight: 600;
    font-family: 'Heebo', sans-serif;
}

.contenedor-modal-editar .contenido-modal .btns .guardar-cambios:hover{
    background-color: var(--color-principal);
    transition: 0.2s linear;
}

@media screen and (max-height: 555px) {
    /*MODAL EDITAR SERVIDOR*/
    .contenedor-modal-editar .contenido-modal{
        max-height: 300px;
        overflow-y: scroll;
    }
}

@media screen and (max-width: 400px) {
    /*MODAL EDITAR SERVIDOR*/
    .contenedor-modal-editar .contenido-modal .header-modal h2{
        font-size: 1.3rem;
        font-weight: bold;
    }

    .contenedor-modal-editar .cuerpo-de-modal .input-servidor label{
        font-size: 0.8rem;
        font-weight: 600;
        margin-bottom: 5px;
        font-family: 'Heebo', sans-serif;
    }
}

/*MODAL DE SALIR*/

.contenedor-modal-salir{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--color-fondo-modal);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.contenedor-modal-salir.mostrar{
    display: flex;
    -webkit-transition: all 1s ease-in;
    -moz-transition: all 1s ease-in;
    transition: all 1s ease-in;
}

.contenedor-modal-salir .contenido-modal{
    width: 100%;
    max-width: 400px;
    background-color: var(--color-fondo);
    border-radius: 10px;
    margin: 10px;
}

.contenedor-modal-salir .cerrar-modal{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.contenedor-modal-salir .contenido-modal .cuerpo-de-modal{
    padding-top: 20px;
    padding-bottom: 20px;
}

.contenedor-modal-salir .contenido-modal .cuerpo-de-modal h3{
    text-align: center;
    font-family: 'Heebo', sans-serif;
    font-size: 1.2rem;
}

@media screen and (max-height: 555px) {
    /*MODAL SALIR SERVIDOR*/
    .contenedor-modal-salir .contenido-modal{
        max-height: 300px;
        overflow-y: scroll;
    }
}

@media screen and (max-width: 400px) {
    /*MODAL SALIR SERVIDOR*/
    .contenedor-modal-salir .contenido-modal .header-modal h2{
        font-size: 1.3rem;
        font-weight: bold;
    }
}

@media screen and (max-width: 1000px) {
    /*RESPONSIVE BIENVENIDA*/
    .tus-servidores{
        width: 100%;
        margin: 10px 20px;
    }
}

@media screen and (max-width: 840px) {
    /*CARD SISTEMA*/
    .cards-sistemas{
        padding: 30px 10px;
    }

    .cards-sistemas .card-s{
        width: 300px;
        margin: 10px 10px;
        padding: 10px;
    }

    .cards-sistemas .card-s img{
        width: 100%;
    }

    .cards-sistemas .card-s h4{
        font-size: 1.5rem;
    }

    .cards-sistemas .card-s p{
        font-size: 1rem;
    }

    .cards-sistemas .card-s .btn-card{
        font-size: 1rem;
    }
}

@media screen and (max-width: 800px) {
    /*RESPONSIVE BIENVENIDA*/
    .bienvenida-usuario{
        padding: 30px 20px;
    }

    .bienvenida-usuario h1{
        font-size: 2rem;
    }

    .agregar-servidor{
        margin: 10px 20px;
    }

    .agregar-servidor img{
        width: 70px;
        height: 70px;
    }

    .agregar-servidor p{
        font-size: 1.1rem;
    }

    .agregar-servidor a{
        font-size: 0.8rem;
    }

    .unirme-a-servidores{
        margin: 10px 20px;
    }

    .unirme-a-servidores img{
        width: 70px;
        height: 70px;
    }

    .unirme-a-servidores p{
        font-size: 1.1rem;
    }

    .unirme-a-servidores a{
        font-size: 0.8rem;
    }

    .ningun-servidor h3{
        font-size: 1rem;
    }

    .tus-servidores{
        width: 100%;
        margin: 5px 20px;
    }

    .tus-servidores .card-servidor .descripcion-servidor h2{
        font-size: 1.4rem;
    }

    .tus-servidores .card-servidor .descripcion-servidor p{
        font-size: 0.8rem;
    }

    .tus-servidores .card-servidor .descripcion-servidor p a:hover:after{
        transform: scaleX(1);
        transform-origin: bottom left;
    }

    .tus-servidores .card-servidor .botones-servidor a{
        font-size: 0.9rem;
    }

    .tus-servidores .card-servidor .botones-servidor label{
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 710px) {
    /*RESPONSIVE BIENVENIDA SERVIDORES*/
    .tus-servidores .card-servidor{
        padding: 30px;
    }

    .tus-servidores .card-servidor .botones-servidor{
        flex-direction: column;
        align-items: center;
        padding: 0px;
        margin: 10px 0px;
    }

    .tus-servidores .card-servidor .botones-servidor a{
        align-self: normal;
        text-align: center;
    }

    .tus-servidores .card-servidor .botones-servidor label{
        align-self: normal;
        text-align: center;
    }

    .tus-servidores .card-servidor .botones-servidor .btn-editar{
        margin: 5px 0px;
    }

    .tus-servidores .card-servidor .botones-servidor .btn-ingresar{
        margin: 0px 0px 5px 0px;
    }

    .tus-servidores .card-servidor .botones-servidor .btn-salir{
        margin: 5px 0px 0px 0px;
    }

    .me-encanta-lokita {
        top: 10px;
        right: 10px;
    }
}

@media screen and (max-width: 515px) {
    .agregar-servidor{
        flex-direction: column;
        margin: 10px;
    }

    .agregar-servidor p{
        margin: 10px;
    }

    .unirme-a-servidores{
        flex-direction: column;
        margin: 10px;
    }

    .unirme-a-servidores p{
        margin: 10px;
    }

    .tus-servidores{
        padding: 20px;
    }

    .tus-servidores .card-servidor{
        width: 90%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .tus-servidores .card-servidor img{
        width: 100px;
        height: 100px;
    }

    .tus-servidores .card-servidor .descripcion-servidor{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px;
    }
}

@media screen and (max-width: 445px) {
    /*CARD SISTEMA*/
    .cards-sistemas{
        padding: 30px 10px;
    }

    .cards-sistemas .card-s{
        width: 200px;
        margin: 20px 10px;
        padding: 10px;
    }

    .cards-sistemas .card-s p{
        font-size: 0.8rem;
    }

    .cards-sistemas .card-s img{
        width: 100%;
    }
}