/*PALETA DE COLORES*/
:root{
    --color-principal:#591414;
    --color-secundario:#8C1111;
    --color-terciario:#A6242F;
    --color-negro:#0D0908;
    --color-alternativo-I:#7D6841;
    --color-alternativo-II:#3045BF;
    --color-apuesto:#145959;
    --color-fondo:#E7E1E1;
    --color-letra-pricipal: #fff;
    --color-fondo-modal: rgba(144,148,150,0.8);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
    scroll-behavior: smooth;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main{
    flex-grow: 1;
    background-color: var(--color-fondo);
}

/*NUEVA CONTRASEÑA*/

.contenedor-remember{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin: 30px 0px;
}

.contenedor-remember form {
    width: 40%;
    background-color: var(--color-letra-pricipal);
    border-radius: 10px;
}

.contenedor-remember .header{
    width: 100%;
    padding: 20px 0px;
    background-color: var(--color-principal);
    color: var(--color-letra-pricipal);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px 10px 0px 0px;
}

.contenedor-remember .header h2{
    font-size: 1.6rem;
    font-weight: bold;
    text-transform: uppercase;
}


.contenedor-remember .cuerpo{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 0px 15px;
}

.cuerpo .input-remember{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    margin: 10px 0px;
    width: 100%;
}

.cuerpo .input-remember label{
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 5px;
    font-family: 'Heebo', sans-serif;
}

.cuerpo .input-remember .input-principales{
    font-weight: 700;
    width: 100%;
}

.cuerpo .input-remember .input-style{
    outline: none;
    border-radius: 5px;
    border: 1px solid var(--color-principal);
    padding: 7px 10px;
}


.contenedor-remember  .btns{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 5px 15px 15px 15px;
}

.contenedor-remember  .btns .agregar{
    width: 45%;
    border-radius: 15px;
    border: none;
    padding: 5px 15px;
    background-color: var(--color-alternativo-II);
    color: var(--color-letra-pricipal);
    font-size: 1rem;
    font-weight: 600;
    font-family: 'Heebo', sans-serif;
}

.contenedor-remember  .btns .agregar:hover{
    background-color: var(--color-principal);
    transition: 0.2s linear;
}

.contenedor-remember  .btns .resetear{
    width: 45%;
    border-radius: 15px;
    border: none;
    padding: 5px 15px;
    background-color: var(--color-apuesto);
    color: var(--color-letra-pricipal);
    font-size: 1rem;
    font-weight: 600;
    font-family: 'Heebo', sans-serif;
}

.contenedor-remember  .btns .resetear:hover{
    background-color: var(--color-principal);
    transition: 0.2s linear;
}

@media screen and (max-height: 555px) {
    /*MODAL AGREGAR SERVIDOR*/
    .contenedor-modal-crear .contenido-modal{
        max-height: 300px;
        overflow-y: scroll;
    }
}

@media screen and (max-width: 750px) {
    /*NUEVA CONTRASEÑA*/
    .contenedor-remember form {
        width: 80%;
    }
}

@media screen and (max-width: 400px) {
    /*NUEVA CONTRASEÑA*/
    .contenedor-remember .header h2{
        font-size: 1.2rem;
    }

    .cuerpo .input-remember label{
        font-size: 0.8rem;
    }

    .contenedor-remember .btns{
        flex-direction: column;
    }

    .contenedor-remember  .btns .agregar{
        width: 80%;
        margin-bottom: 5px;
    }

    .contenedor-remember  .btns .resetear{
        width: 80%;
        margin-top: 5px;
    }
}