/*PALETA DE COLORES*/
:root{
    --color-principal:#591414;
    --color-secundario:#8C1111;
    --color-terciario:#A6242F;
    --color-negro:#0D0908;
    --color-alternativo-I:#7D6841;
    --color-alternativo-II:#3045BF;
    --color-apuesto:#145959;
    --color-fondo:#E7E1E1;
    --color-letra-pricipal: #fff;
    --color-fondo-modal: rgba(144,148,150,0.8);
}

/*FORMATEO GENERAL*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    scroll-behavior: smooth;
}

main{
    flex-grow: 1;
    background-color: var(--color-fondo);
}

/*MIEMBROS*/
.cambio-de-color{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--color-apuesto);
}

.bienvenidad-miembros{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 10px;
}

.bienvenidad-miembros h1{
    font-size: 2.5rem;
    text-align: center;
    font-weight: bold;
    color: var(--color-letra-pricipal);
}

.editar-perfil{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

.editar-perfil .card-perfil{
    display: flex;
    flex-direction: column;
    width: 400px;
    background-color: var(--color-letra-pricipal);
    border-radius: 10px;
    overflow: hidden;
    align-self: normal;
    margin: 20px 10px;
    box-shadow: 1px -1px 16px 1px rgba(0,0,0,0.76);
    -webkit-box-shadow: 1px -1px 16px 1px rgba(0,0,0,0.76);
    -moz-box-shadow: 1px -1px 16px 1px rgba(0,0,0,0.76);
}

.card-perfil .head{
    width: 100%;
    height: 150px;
    position: relative;
}

.card-perfil .head .circulo{
    position: absolute;
    width: 100%;
    height: 300px;
    border-radius: 50%;
    background-color: var(--color-apuesto);
    bottom: 0;
}

.card-perfil .head .contenedor-img{
    width: 150px;
    height: 150px;
    position: absolute;
    background-color: var(--color-letra-pricipal);
    padding: 5px;
    border-radius: 50%;
    bottom: -30%;
    left: 50%;
    transform: translate(-50%);
}

.contenedor-img img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.card-perfil .descripcion{
    display: flex;
    flex-direction: column;
    padding: 60px 20px 5px 20px;
}

.card-perfil .descripcion h3{
    font-size: 1.6rem;
    margin: 5px 0px;
    text-align: center;
}

.card-perfil .descripcion p{
    font-size: 1rem;
    margin: 10px 0px;
    font-family: 'Heebo', sans-serif;
}

.card-perfil .descripcion p .dato{
    font-weight: bold;
}

.card-perfil .boton{
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px 20px 20px;
}

.card-perfil .boton .btn-editar-perfil{
    text-decoration: none;
    font-size: 1rem;
    background-color: var(--color-apuesto);
    color: var(--color-letra-pricipal);
    padding: 10px 20px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
}

.card-perfil .boton .btn-editar-perfil:hover{
    background-color: var(--color-principal);
    transition: 0.2s linear;
}

@media screen and (max-width: 400px) {
    /*CARD EDITAR PERFIL*/
    .bienvenidad-miembros h1{
        font-size: 2rem;
    }

    .card-perfil .head .circulo{
        border-radius: 0px;
    }

    .editar-perfil{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px 10px;
    }

    .editar-perfil .card-perfil{
        width: 260px;
    }

    .card-perfil .descripcion h3{
        font-size: 1rem;
    }

    .card-perfil .descripcion p{
        font-size: 0.8rem;
    }

    .card-perfil .boton .btn-editar-perfil{
        font-size: 0.8rem;
    }
}

/*MODAL AGREGAR SERVIDOR*/
#btn-modal-crear{
    display: none;
}

.contenedor-modal-crear{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--color-fondo-modal);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

#btn-modal-crear:checked ~ .contenedor-modal-crear{
    display: flex;
    transition: 0.2s linear;
}

.contenedor-modal-crear .contenido-modal{
    width: 100%;
    max-width: 400px;
    background-color: var(--color-fondo);
    border-radius: 10px;
    margin: 10px;
}

.contenedor-modal-crear .cerrar-modal{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.contenido-modal .header-modal{
    width: 100%;
    padding: 10px 15px;
    background-color: var(--color-principal);
    color: var(--color-letra-pricipal);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px 10px 0px 0px;
}

.contenido-modal .header-modal h2{
    font-size: 1.6rem;
    font-weight: bold;
    text-transform: uppercase;
}

.contenido-modal .header-modal label i{
    font-size: 35px;
    cursor: pointer;
}

.contenido-modal .cuerpo-de-modal{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 0px 15px;
}

.cuerpo-de-modal .input-servidor{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    margin: 10px 0px;
    width: 100%;
}

.cuerpo-de-modal .input-servidor label{
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 5px;
    font-family: 'Heebo', sans-serif;
}

.cuerpo-de-modal .input-servidor .input-principales{
    font-weight: 700;
    width: 100%;
}

.cuerpo-de-modal .input-servidor .input-style{
    outline: none;
    border-radius: 5px;
    border: 1px solid var(--color-principal);
    padding: 7px 10px;
}

.cuerpo-de-modal .input-servidor textarea{
    font-weight: 700;
    width: 100%;
}

.cuerpo-de-modal .input-servidor .input-radio{
    width: 100%;
    display: flex;
    padding: 3px 0px;
}

.cuerpo-de-modal .input-servidor .input-radio label{
    margin-left: 10px;
}

.contenido-modal .btns{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0px 15px 15px 15px;
}

.contenido-modal .btns .agregar{
    width: 45%;
    border-radius: 15px;
    border: none;
    padding: 5px 15px;
    background-color: var(--color-alternativo-II);
    color: var(--color-letra-pricipal);
    font-size: 1rem;
    font-weight: 600;
    font-family: 'Heebo', sans-serif;
}

.contenido-modal .btns .agregar:hover{
    background-color: var(--color-principal);
    transition: 0.2s linear;
}

.contenido-modal .btns .resetear{
    width: 45%;
    border-radius: 15px;
    border: none;
    padding: 5px 15px;
    background-color: var(--color-apuesto);
    color: var(--color-letra-pricipal);
    font-size: 1rem;
    font-weight: 600;
    font-family: 'Heebo', sans-serif;
}

@media screen and (max-height: 555px) {
    /*MODAL AGREGAR SERVIDOR*/
    .contenedor-modal-crear .contenido-modal{
        max-height: 300px;
        overflow-y: scroll;
    }
}

@media screen and (max-width: 400px) {
    /*MODAL AGREGAR SERVIDOR*/
    .contenedor-modal-crear .contenido-modal .header-modal h2{
        font-size: 1.3rem;
        font-weight: bold;
    }

    .contenedor-modal-crear .cuerpo-de-modal .input-servidor label{
        font-size: 0.8rem;
        font-weight: 600;
        margin-bottom: 5px;
        font-family: 'Heebo', sans-serif;
    }
}